---
import ExperienceContent from "../../../features/home/Experience";
---

<div
  class="card group overflow-hidden transfor-y-[-40%] bg-gradient-to-b from-zinc-50 to-zinc-300 text-slate-200 dark:bg-gradient-to-b dark:from-zinc-800 dark:to-zinc-900 shadow-lg rounded-lg border border-neutral-400 dark:border-neutral-700 hover:border-zinc-900 dark:hover:border-zinc-200 align-start flex-none h-full justify-start relative transform w-full col-span-1 md:col-span-3 lg:col-span-1 md:row-span-9 p-6 hover:scale-[1.01] transition-transform delay-500 duration-300 ease-in-out"
>
  <div class="flex flex-row justify-between">
    <h1
      class="text-lg font-bold text-slate-800 self-start justify-center dark:text-slate-300"
    >
      Experience
    </h1>
    <span class="mt-2 mr-2 relative flex h-3 w-3">
      <span
        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
      ></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"
      ></span>
    </span>
  </div>
  <ExperienceContent transition:name="objectTest" client:visible />
</div>
