---
import Clock from "../../../assets/icons/Clock.astro";
import CurrentTime from "../../tsx/current-time";
---

<div
  class="card group overflow-hidden bg-gradient-to-b from-zinc-50 to-zinc-300 text-slate-200 dark:bg-gradient-to-b dark:from-zinc-800 dark:to-zinc-900 shadow-lg rounded-lg border border-neutral-400 dark:border-neutral-700 hover:border-zinc-900 dark:hover:border-zinc-200 flex-none h-full relative transform w-full transition duration-75 ease-in-out col-span-1 md:col-span-1 md:row-span-1 p-3 justify-center align-middle"
>
  <!-- <div class="h-full grid flex-col text-gray-600 dark:text-gray-300 gap-3">
    <div class="flex flex-row justify-between">
      <h1
        class="text-lg font-bold text-slate-800 self-start justify-center dark:text-white"
      >
        Status
      </h1>
      <span class="mt-2 mr-2 relative flex h-3 w-3">
        <span
          class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
        ></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"
        ></span>
      </span>
    </div>

    <h4
      class="text-md font-normal text-slate-800 justify-self-center dark:text-white"
    >
      Working as Software Engineer
    </h4> -->
  <div
    class="flex flex-row text-base font-semibold text-gray-600 underline underline-offset-4 transition-all hover:text-gray-900 dark:text-gray-300 justify-self-center place-content-center dark:hover:text-white gap-2 mt-1"
  >
    <Clock class="h-7 w-7 hover:scale-105" />
    <CurrentTime client:load /> UTC+8
  </div>
</div>
