---
import Clock from "../../../assets/icons/Clock.astro";
import CurrentTime from "../../tsx/current-time";
---

<div
  class="card group overflow-hidden bg-gradient-to-b from-zinc-50 to-zinc-300 text-slate-200 dark:bg-gradient-to-b dark:from-zinc-800 dark:to-zinc-900 shadow-lg rounded-lg border border-neutral-400 dark:border-neutral-700 hover:border-zinc-900 dark:hover:border-zinc-200 flex-none h-full relative transform w-full col-span-1 md:col-span-3 lg:col-span-1 md:row-span-1 p-3 justify-center align-middle hover:scale-[1.01] transition-transform delay-500 duration-300 ease-in-out"
>
  <div
    class="flex flex-row text-base font-semibold text-slate-800 dark:text-slate-300 underline underline-offset-4 transition-all hover:text-gray-900 justify-self-center place-content-center dark:hover:text-white gap-2 mt-1"
  >
    <Clock class="h-7 w-7 hover:scale-105" />
    <CurrentTime client:load /> UTC+8
  </div>
</div>
