---
import Coffee from "../../assets/icons/Coffee.astro";
import Laptop from "../../assets/icons/Laptop.astro";
import Person from "../../assets/icons/Person.astro";
import { NAV_LINKS } from "../../shared/constants";
import ToggleThemeButton from "../tsx/ToggleThemeButton";
---

<ul class="flex flex-row items-center justify-end gap-5" transition:persist>
  {
    NAV_LINKS.map((link, index) => (
      <li class="flex flex-row items-center gap-1 text-xl text-gray-600 transition-all hover:text-gray-900 dark:text-gray-500 dark:hover:text-white">
        <a href={link.href}>
          {index === 0 && <Coffee class="h-6 w-6" />}
          {index === 1 && <Person class="h-6 w-6" />}
          {index === 2 && <Laptop class="h-6 w-6" />}
        </a>
        <a href={link.href} class="hidden flex-row lg:flex">
          {link.label}
        </a>
      </li>
    ))
  }
  <li class="border-l border-gray-400 pl-6">
    <ToggleThemeButton transition:persist client:idle />
  </li>
</ul>
